.DS_Store
*.db
*.o
*.pyc
node_modules
**/node_modules/
*.class
*.target
*.project
.editorconfig
**/.editorconfig
.settings
.vscode
**/.settings
**/.classpath
target
**/target
dist
**/dist
.idea/
*.iml
*.log
dependency-reduced-pom.xml
apixio-security.properties

