target/
.idea
.vscode
.metals
**/.classpath
**/.project
**/.bloop
**/.settings
**/*.iml
fximplcode/src/main/resources/darwin/
**/model.zip
fximplcode/src/main/resources/libsimilarity.dylib
fximplcode/src/main/resources/readme.txt
sdkcore/src/main/python/build
sdkcore/src/main/python/dist
__version__.py
**/__pycache__
**/_MEI*
**/*.egg*
sdkannotest
