<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- Redirect calls to CallbackAppender, which caches copy of MDC -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="true">

	<appender name="capture" class="com.apixio.logger.tracks.CallbackAppender">
	</appender>
	
	<root>
		<level value="info" />
        <appender-ref ref="capture" />
	</root>

</log4j:configuration>

